$colours: (
  muted-grey: #919494,
  darkest-blue: #212532,
  midnight-blue: #292d3e,
  tinted-white: #eeffff,
  light-blue: #3b415c,
  deep-orange: #f78c5b,
  mustard-yellow: #ffcb6b,
  dark-green: #7fb347,
  pale-green: #c3e872,
  giro-pink: #c792ea,
);

@function colour($colour-name) {
  @return map-get($colours, $colour-name);
}

body {
  background-color: colour(midnight-blue);
  max-width: 900px;
  margin: auto;
  color: colour(tinted-white);
  font-family: KarmillaRegular;
  font-size: 20px;
  line-height: 1.618;
  padding: 1.618em;
}

/* Anchor tag stylings */

a {
  text-decoration: none;
  color: colour(deep-orange);
}

a[href]:hover {
  background-color: colour(darkest-blue);
  color: colour(deep-orange);
  border: dashed 1px colour(muted-grey);
  transition-property: all;
  transition-duration: 250ms;
}

a[target="_blank"]:after {
  font-family: "FontAwesome";
  content: "\f08e";
  padding-left: 0.5rem;
  padding-right: 0.2rem;
  font-size: 0.7rem;
  vertical-align: 0.1rem;
}

/* Miscellaneous stylings */

.accent {
  color: colour(pale-green);
  font-weight: 500;
}

.first {
  color: colour(mustard-yellow);
}

/* Navigation here */

.menu {
  max-width: 100%;
  margin: auto;
  // background-color: colour(light-blue);
  display: grid;
  grid-template-columns: 1fr auto;
  color: colour(mustard-yellow);
  // display: inline;
}

.menu__btn {
  background-color: colour(midnight-blue);
  font-family: mononokiBold;
  font-size: 2rem;
  border-style: none;
}

.btn--left {
  justify-self: start;
  // float: left;
}
.btn--right {
  // float: right;
  justify-self: end;
}

/* Hamburger and std menu toggle */
.hamburger {
  display: none;
  background-color: colour(midnight-blue);
  font-size: 2rem;
  color: colour(tinted-white);
  cursor: pointer;
}

.menu__list {
  margin: 0;
  font-size: 2rem;
  text-transform: lowercase;
  float: right;
  font-family: mononokiBold;
  justify-self: end;
}

.menu__item {
  display: inline;
  list-style-type: none;
  padding: 0.618rem;

}
.menu__item a {
  color: colour(mustard-yellow);
}
/* Header */

.header {
  display: block;
  height: 40%;
  font-family: KarmillaBold;
  text-align: center;
}

.header__title {
  font-size: 3rem;
  padding-top: 3rem;
}

.header__sub {
  font-size: 2rem;
}

/* Project cards */

.card-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  border: 1px solid colour(tinted-white);
  margin: 10px;
  background-color: colour(light-blue);
  align-self: start;
}

.card__link {
  color: colour(tinted-white);
}

// Not sure that's the best way anyways...
a.card__link::after {
  font-family: "FontAwesome";
  content: "\f09b"; /* f09b for GH, f296 for GL */
  font-size: 2rem;
  vertical-align: 0.5rem;
  padding: 1rem;
  color: colour(tinted-white);
}

.card__title {
  font-size: 24px;
  text-align: center;
  font-family: mononokiBold;
  color: colour(dark-green);
  padding: 0 5px;
}

.card__desc {
  margin: 0;
  padding: 1rem;
}
