/*** GENERAL STYLING, SITE-WIDE ***/

body {
  background-color: #292d3e;
  color: #eeffff;
  padding: 1.618em;
  max-width: 900px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #ffcb6b;
}

a[target="_blank"]:after {
  font-family: "FontAwesome";
  content: "\f08e";
  padding-left: 0.5rem;
  padding-right: 0.2rem;
  font-size: 0.7rem;
  vertical-align: 0.1rem;
}

.repo-link {
  color: #eeffff;
}

a.repo-link::after {
  font-family: "FontAwesome";
  content: "\f09b"; /* f09b for GH, f296 for GL */
  font-size: 2rem;
  vertical-align: 0.5rem;
  padding: 1rem;
}

a[href]:hover {
  background-color: #212532;
  color: #f78c5b;
  transition-property: all;
  transition-duration: 250ms;
  /* padding: 1px; */
  border: dashed 1px #919494;
}

a.repo-link[href]:hover {
  border: none;
  background-color: #3b415c;
  transition: all;
  transition-duration: 250ms;
}

/* NOTE: nav-list applies to all nav>ul>li elements */
.nav-list {
  font-family: mononokiRegular;
  display: inline;
  list-style-type: none;
  padding: 0.618rem;
  /* Consider making them more button-like?
  background-color: #3B415C;
  padding: .618em;
  border: 1px solid;
  border-radius: 20%; */
}

h1,
h2,
h3 {
  font-family: mononokiBold;
  text-align: center;
}

/* 
These mainly apply to landing page, but props 
are inherited across other parts of the site
DO NOT DELETE, even though they're partly overruled 
elsewhere
 */

h1.main-heading {
  font-size: 72px;
  padding-top: 3rem;
}

.sub-heading {
  font-family: mononokiItalic;
  text-align: center;
  font-weight: 400;
  color: #eeffff;
}

.landing-page-nav-layout ul {
  padding-inline-start: 0px;
}

ul {
  font-family: KarmillaRegular;
  font-size: 20px;
}

p {
  font-family: "KarmillaRegular";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1.618;
}

aside {
  font-family: "KarmillaRegular";
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 1.618;
}

footer > p {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

footer {
  bottom: 25px;
  padding: 10px;
  margin: auto;
}

.first {
  color: #ffcb6b;
}

.second {
  color: #f78c5b;
}

.hl-pink {
  /* color: #c792ea; */
  color: #bed6ff;
  font-weight: 500;
}

.fa::before {
  color: #eeffff;
  font-size: 35px;
}
/*** GENERAL STYLING, HOME PAGE ***/

.social-media-links {
  display: flex;
  justify-content: center;
  padding-inline-start: 0px;
}

.social-media-links .link {
  display: inline;
  list-style-type: none;
  padding: 1em;
  padding-inline-start: 0px;
}

.social-media-links .link a[href]:hover {
  border: none;
  background-color: #292d3e;
  color: #f78c5b;
}

.social-media-links .link a[target="_blank"]:after {
  font-family: none;
  content: none;
}

ul .social-media-links {
  padding-inline-start: 0px;
}

#landing-section {
  display: grid;
  flex-direction: column;
  grid-area: 3 / 3 / span 3 / span 3;
  position: relative;
  align-items: center;
  justify-items: center;
  font-size: 18px;
  height: 100vh;
}

#landing-strapline {
  background-color: #3b415c;
  border: 1px solid #eeffff;
  padding: 1rem;
}

/*** GENERAL STYLING, STANDARD PAGE ***/

/* Styling for *all* nav other than landing page */

.main-nav-layout {
  max-width: 750px;
  margin: auto;
  background-color: #3b415c;
  display: inline;
}

button.main-nav {
  background-color: #292d3e;
  font-family: mononokiBold;
  font-size: 2rem;
  border-style: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.hamburger {
  display: none;
  background-color: #292d3e;
  font-size: 2rem;
  color: #eeffff;
  cursor: pointer;
}

.nav-items .show {
  display: none;
}

.nav-items {
  text-transform: lowercase;
  margin: 0;
  font-size: 2rem;
}

.main-header-type {
  font-size: 18px;
  display: block;
  height: 40%;
}

.main-header-type .main-heading {
  font-size: 3rem;
  font-family: "KarmillaBold";
}

.main-header-type .sub-heading {
  font-size: 2rem;
  font-family: "KarmillaBold";
}

.code-style {
  width: fit-content;
  /* margin: auto; */
  background-color: #3b415c;
  border: 1px solid #eeffff;
  padding: 1rem;
}

.code-style code {
  font-family: mononokiRegular;
  font-size: 0.85rem;
  /* color: #ffcb6b; */
}

img#pk {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-family: KarmillaBold;
  text-align: left;
  color: #f78c5b;
  font-size: 24px;
}

/*** Project page card styling ***/

.card-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  border: 1px solid #eeffff;
  margin: 10px;
  background-color: #3b415c;
  align-self: start;
}

.card h3 {
  text-align: center;
  font-family: mononokiBold;
  color: #7fb347;
  padding-left: 5px;
  padding-right: 5px;
}

.card p {
  margin: 0;
  padding: 1rem;
}

.card-holder .card-info {
  display: none;
}

.show-proj {
  display: block;
}

/*** Contact form  ***/

form {
  display: grid;
  max-width: 60vw;
  margin: auto;
}

label {
  color: #f78c5b;
  font-family: "KarmillaBold";
  font-size: 1rem;
}

input[type="text"] {
  font-family: "KarmillaRegular";
  background-color: #eeffff;
  color: #292d3e;
  border-style: none;
  border-radius: 4px;
  height: 2rem;
  font-size: 20px;
  text-indent: 6px;
}

input::placeholder {
  color: #595e72;
}

input[type="submit"] {
  background-color: #c792ea;
  color: #292d3e;
  border: none;
  font-family: "KarmillaBold";
  font-size: 1.2rem;
  border-radius: 4px;
  height: 2rem;
}

textarea::placeholder {
  color: #595e72;
}

textarea {
  font-family: "KarmillaRegular";
  border-style: none;
  border-radius: 4px;
  background-color: #eeffff;
  color: #292d3e;
  font-size: 20px;
  text-indent: 6px;
}

/*** MEDIA QUERIES ***/

@media all and (max-width: 900px) {
  main {
    width: 83%;
    margin: auto;
  }
}

@media all and (max-width: 640px) {
  main {
    width: 100%;
    margin: auto;
  }

  /* Navigation  */
  .nav-items {
    display: none;
  }

  .show-nav {
    display: flex;
    padding: 0.8rem 0;
    text-decoration: none;
    text-align: center;
    background-color: #3b415c;
    flex-direction: column;
    width: 100%;
  }

  .hamburger {
    display: block;
  }

  /* Card layouts */

  .card-holder {
    grid-template-columns: 1fr 1fr;
  }

  /* Contact form */

  form {
    display: grid;
    max-width: 100%;
    margin: auto;
  }
}
/** Smallest screens **/

@media all and (max-width: 426px) {
  .social-media-links .link {
    padding: 0.5em;
  }

  h1.main-heading {
    font-size: 40px;
  }

  main {
    width: 100%;
    margin: auto;
  }
  /* Navigation  */
  .nav-items {
    display: none;
  }

  .show-nav {
    display: flex;
    padding: 0.8rem 0;
    text-decoration: none;
    text-align: center;
    background-color: #3b415c;
    flex-direction: column;
    width: 100%;
  }

  /* .show {
    display: flex;
    font-size: 1.5rem;
  } */

  .hamburger {
    display: block;
  }

  .card-holder {
    grid-template-columns: 100%;
  }

  #landing-section {
    height: 90vh;
  }
}

/* "url": "http://www.eclipsecolorthemes.org/?view=theme&id=50245" */
