body {
  background-color: #292D3E;
  color: #EEFFFF;
  padding: 1.618em; 
  max-width: 750px;
  /* min-width: 320px; */
  margin: auto;
}


li.link {
  display: inline;
  list-style-type: none;
  padding: 1em;
}

.nav-list {
  display: inline;
  list-style-type: none;
  /* padding: .618em; */
  padding: 0.618rem;
  /* background-color: #3B415C;
  border: 1px solid;
  border-radius: 20%; */
}

.main-nav-layout {
  max-width: 750px;
  margin: auto;
  background-color: #292D3E;
  display: inline;
}


button.main-nav {
  background-color: #292D3E;
  font-family: mononokiBold;
  font-size: 2rem;
  border-style: none;
}

.left {
  float: left;
}

.right {
  float: right; 
}



/*
.main-nav-layout .nav-list-left {
  display: inline;
  list-style-type: none;
  position: relative;
  align-items: left;
  justify-content: left; 
  font-size: 2rem;
  background-color: #292D3E;
  border-style: none;
  font-family: mononokiBold;
  padding: 0.618rem 50vw 0px 0px;
} */

a {
  text-decoration: none;
  color: #FFCB6B;
}

ul.social-media {
  padding-inline-start: 0px;
}


#landing-section {
  display: grid;
  flex-direction: column;
  grid-area: 3 / 3 / span 3 / span 3;
  position: relative;
  align-items: center;
  justify-items: center;
  font-size: 18px;
  height: 100vh;
}


/* #landing-section {
  display: flex;
  flex-flow: column wrap;
} */


h1, h2, h3 {
  font-family: mononokiBold;
  text-align: center;
}

h1.main-heading {
  font-size: 72px;
  padding-top: 3rem;
}

.sub-heading {
  font-family: mononokiItalic;
  text-align: center;
  font-weight: 400;
}

code {
  background-color: #3B415C;
  color: #FFCB6B
}

.social-media-links {
  display: flex;
  justify-content: center;
}

.code-syntax {
  font-weight: 200;
}

ul {
  font-family: mononokiBold;
  padding-inline-start: 0px;
}

#hamburger {
  display: none;
}



nav {
  display: flex;
  justify-content: center;
}

#nav-items {
  text-transform: lowercase;
}

@media all and (max-width: 426px) {
  li.link {
    padding: 0.5em;
  }

  h1.main-heading {
    font-size: 40px;
  }

  .nav-items {
    display: none;
  }

  .show {
    display: flex;
    padding: .8rem 0;
    text-decoration: none;
    text-align: center;
    background-color: #3B415C;
    flex-direction: column;
    width: 100%;
  }

  #hamburger {
    display: block;
    background-color: #292D3E;
    font-size: 2rem;
    color: #EEFFFF;
    cursor: pointer;
  }

}




p {
  font-family: 'KarmillaRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.618;
}


footer>p {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

footer {
  bottom: 25px;
  padding: 10px;
  margin: auto;
}


.first {
  /* color: #89DDFF; */

  color: #FFCB6B;
}

.second {
  /* color: #C3E872; */

  color: #F78C5B;
}


#landing-strapline {
  background-color: #3B415C;
  border: 1px solid #EEFFFF;
  padding: 1rem;
}


 .main-header-type {
  display: grid;
  flex-direction: column;
  grid-area: 3 / 3 / span 3 / span 3;
  position: relative;
  align-items: center;
  justify-items: center; 
  font-size: 18px;
  display: block;
  height: 40%;
} 

.main-header-type .main-heading {
  font-size: 3rem;
  font-family: 'KarmillaBold';
}

.main-header-type .sub-heading {
  font-size: 2rem;
  font-family: 'KarmillaBold';
  /* font-style: italic; */
}

aside {
  font-family: 'KarmillaRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  line-height: 1.618;
}
